<partial name="_navbarCommon" />
@inject performance_appraisal_system.Services.IEmployeeService emp;


<div class="container">
    <div class="text-center mt-4 mb-4">  <a class="btn btn-outline-secondary  mt-3" asp-action="AddAppraisel" asp-controller="Manager">Create New Appraisel</a></div>

    <div class="row">
        <div class="col-sm-4 border rounded-2 shadow-sm">
            
            <h4 class="mt-3">Accepted Appraisals</h4>

            @if( ViewBag.com != null)
            {
            @foreach (var i in ViewBag.com)
            {
                    <p> <b>@emp.GetEmployeeById(@i.EmployeeID).Name</b> has accepted their appraisal which was created on <b>@i.StartDate</b> haveing Appraisal ID @i.AID    </p> <a class="text-info" asp-action="SeeDetailsAppraisal" asp-controller="Manager" asp-route-appid="@i.AID">See details..</a>

                <hr />
            }
            }
            else
            {
            <p>No Accepted Appraisal Are There..</p>
            }



            <hr />
            <a class="btn btn-outline-secondary  mt-3" asp-action="AddAppraisel" asp-controller="Manager">Create New Appraisel</a>
     
            
        </div>
        
        <div class="col-sm-4 border rounded-2">
            
            <h4 class="mt-3">New Apprasals</h4>

            @if (TempData["success"] !=null)
            {
                <p class="text-success "><b>@TempData["success"]</b> </p>
            }
            
            
          
            @{
                if( ViewBag.NewStatus != null)
                {
                    @foreach (var i in ViewBag.NewStatus)
                    {
                        <p>You have created an Appraisal form for  <b> @emp.GetEmployeeById(@i.EmployeeID).Name Employee ID  @i.EmployeeID</b> Status is <b>@i.Status</b> on <b>@i.StartDate</b></p> <a class="text-info" asp-action="ChangeAppraisalStatus" asp-controller="Manager" asp-route-appid="@i.AID">Change Status As Created</a>

                        <hr />
                    }
                }
                else
                {
                    <p>You have not created any New appraisal form</p>
                }
            }
     

        </div>


        <div class="col-sm-4 border rounded-2">

            <h4 class="mt-3">Self Rated Appraisals</h4>
            <hr />

         

            @{
                if (ViewBag.selfrated != null)
                {
                    @foreach (var i in ViewBag.selfrated)
                    {
                        <p> <b> @emp.GetEmployeeById(@i.EmployeeID).Name (Employee ID  @i.EmployeeID)</b> has submitted the reposnse ..  </p> <a class="text-info" asp-action="ManagerResponseOnAppraisal" asp-controller="Manager" asp-route-appid="@i.AID">Review</a>

                        <hr />
                    }
                }
                else
                {
                    <p>No Appraisal Form Here</p>
                }
            }


        </div>

    </div>
</div>
