<partial name="_navbarCommon" />

@{
    @if (TempData["success"] !=null)
    {
        <div class="container alert alert-success">@TempData["success"]</div>
    }
}
<div class="container mt-4" >

    <div class="row">

        <div class="col-sm-4 border border-top alert alert-success ">
            <h5>Previous Appraisal</h5>


            @{
                if (ViewBag.ca !=null)
                {


                  foreach (var item in ViewBag.ca)
                    {
                        <p>  <b>@User.Identity.Name</b>, You have accepted your Appraisal form <b>Created on @item.StartDate</b>. Appraisal Id @item.AID <a class="text-info" asp-action="SeeAppraisalDetails" asp-controller="Employee" asp-route-appID="@item.AID">See Details</a>   </p>
                    }



                }
                else
                {
                    <p>No Privious Appraisal Exist..</p>
                }
            }


        </div>

        <div class="col-sm-4 border border-bottom alert alert-warning ">
            <h5>Pending Appraisal</h5>
            @if( ViewBag.final !=null)
            {
                foreach (var item in ViewBag.final)
                {

                    <p> Hey, <b>@User.Identity.Name</b>, Your <b>manager</b> Has submmited his response..<a class="text-info" asp-action="EmployeeApproval" asp-controller="Employee" asp-route-appID="@item.AID">See Details</a>   </p>

                }

            }
            else
            {
                <p>No Appraisal Exist..</p>
            }

        </div>

        <div class="col-sm-4 border border-top-1 alert alert-info ">

            <h5>Activity</h5>

            @{
                if(ViewBag.status != null)
                {
                    foreach (var item in ViewBag.status)
                    {
                        <p> Hey, <b>@User.Identity.Name</b>, There is new appraisal form for you. <b>created on @item.StartDate.. </b> <a class="text-info"  asp-action="FirstAppraisalDetail" asp-controller="Employee" asp-route-appID="@item.AID">See Details</a>   </p>
                    }

                }
                else
                {
                    <h6>No Appraisal Form Exist..</h6>
                }
            }


        </div>



    </div>


</div>