@inject performance_appraisal_system.Services.IEmployeeService emp;
@inject performance_appraisal_system.Services.IAppraisalfromService app;


@if(User.Identity.IsAuthenticated)
{
 @model IEnumerable<Employee>;
 <partial name="_navbarCommon"/>


 

 <div class="container">

   <div class="row">
         <div class="col-sm-4">
             <a class="btn btn-lg btn-outline-secondary mt-4 mx-3" asp-action="AddEmployees" asp-controller="HR">Add Employees</a>
                <a class="btn btn-lg btn-outline-secondary mt-4 mx-3" asp-action="AddCompetencies" asp-controller="HR"> Add Competencies</a>
         </div>

         <div class="col-sm-8">

             <h3 class="text-center">Appraisal Details</h3>

                @if (ViewBag.fm != null)
                {
                                 <input class="form-control" id="myInput2" type="text" placeholder="Search..">
                    <table class="table table-striped" id="myTable2">
        <thead>
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Appraisal Start Date</th>
              
                <th scope="col">Manager ID</th>
                <th scope="col">Manager Name </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            @{
                                foreach (var item in ViewBag.fm)
                                {
                                    
                                    <tr>

                                        <td>@item.EmployeeID</td>
                                        <td>@emp.GetEmployeeById(@item.EmployeeID).Name</td>
                                        <td>@item.StartDate</td>
                                        <td>@item.ManagerID</td>
                                        <td>@emp.GetEmployeeById(@item.ManagerID).Name</td>
                                        <td> <a asp-action="SeeDetailsAppraisal" asp-controller="HR" asp-route-aid="@item.AID">See Details</a>  </td>



                                    </tr>


                                }
            }
            </tbody>
            </table>


                }
                else
                {
                    <p>No Appraisal Form There..</p>
                }










                @if (TempData["Edited"] != null)
                {
                    <p class="text-success"><b>@TempData["Edited"]</b></p>
                }

                @if (ViewBag.EmployeeList != null)
                {

                    <h3 class="text-center">Employee Details</h3>

                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Designation</th>
                <th scope="col">Manager ID</th>
                <th scope="col">Actions </th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in @ViewBag.EmployeeList)
                    {
                        <partial name="_employeeList" model="@item"/>
                    }
                        </tbody>
                    </table>

                }else
                {
                    <h3 class="mt-4">No Employee Exist..</h3>
                    <hr />
                }

         

         </div>
   </div>


 </div>


 @section Scripts{
     <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $("#myInput2").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
     </script>
 }
}
else
{
    <h1>You Are Not Authenticated</h1>
}


       